
<table>
<thead>
<th>name</th>
<th>country</th>
<th>founded</th>
<th>description</th>
<th>action</th>
</thead>
<tbody>
 
</tbody>
<% @teams.each do |team| %>
<tr>
<td>
<%= team.name %>
</td>
<td>
<%= team.country %> 
</td>
<td>
<%= team.founded %> 
</td>
<td>
<%= team.description %> 
</td>

<td>
<%= link_to 'Show', team_path(team) %>
<%= link_to 'Delete', team_path(team), method: :delete %>
<%= link_to 'EDIT', model: @team, url: team_path(team), method: :patch%>
</td>

</tr>
<% end %>
</table>
<br><br><br>
<%= link_to "New Team", new_team_path %>