<h1>show page </h1>

<p><strong>Name:</strong><%= @teams.name %></p>

<p><strong>score:</strong><%=  @teams.country %></p>

<p><strong>score:</strong><%=  @teams.founded %></p>

<p><strong>score:</strong><%=  @teams.description %></p>

<%= link_to "back to Team", new_team_path %>
